<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="chess, cheat, ChessCheater"
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="main.js" type="text/javascript"></script>
    <title>FrenchSite</title>
   <link rel="stylesheet" href="static/index_css.css">
</head>
    <div class="container">
        <div class='row'>
            <div class="col-4">
                 <div class="card">
                    <div class="card-img">
                        <a href="wordgame"><img src="static/images/index_words.PNG" class="img-fluid"></a>
                    </div>
                    <div class='card-body'>
                        <h4 class="card-title">Составить слова</h4>
                        <p class="card-text">proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                     </div>
                </div>
            </div>
             <div class="col-4">
                <div class="card">
                    <div class="card-img">
                       <img src="static/images/index_listening.PNG" class="img-fluid">
                    </div>
                    <div class='card-body'>
                        <h4 class="card-title">Аудирование</h4>
                        <p class="card-text">proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                     </div>
                </div>
                </div>
             <div class="col-4">
                 <div class="card">
                    <div class="card-img">
                       <img src="static/images/index_speak.PNG" class="img-fluid">
                    </div>
                    <div class='card-body'>
                        <h4 class="card-title">Тренировка разговорной речи и произношения</h4>
                            <p class="card-text">proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                     </div>
            </div>
        </div>
            </div>
        <div class='row'>
            <div class="col-4">
                <div class="card">
                    <div class="card-img">
                       <img src="static/images/index_writening.PNG" class="img-fluid">
                    </div>
                    <div class='card-body'>
                        <h4 class="card-title">Грамматика и письмо</h4>
                            <p class="card-text">proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                     </div>
            </div>
        </div>
    </div>
</html>
